// GFonts
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Press+Start+2P&display=swap');

// Utils
@import 'utils/variables';
@import 'utils/mixins';

// Styling
@import 'components/container';
@import 'components/header';

body {
  background-color: $bg-color;
  font-size: 24px;
  font-family: $font;
  color: $text-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}