$breakpoints: (
  mobile: 520px,
  tablet: 992px,
  desktop: 1280px,
  wide: 1440px
);

$container-widths: (
  default: 310px,
  mobile: 480px,
  tablet: 768px,
  desktop: 1080px,
  wide: 1280px
);

// Colors
$gunmetal: #1F373A;
$silver: #BFC0C0;
$white: #fff;
$red-ocher: #EF8354;
$coral: #4F5D75;

$bg-color: $gunmetal;
$text-color: $white;
$text-hover: $silver;

$font-title: 'Press Start 2P', serif;
$font: 'Bebas Neue', sans-serif;